
<form method="post" action="">
        <div style="margin-left:10px">
            Hello {{ name }}!
            <input type="text" value="" placeholder="Enter your email" name="email"/>
            <input type="submit" id="click" value="Submit"/>
        </div>
    </form>